@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  font-family: "Inter", Arial, sans-serif; /* Apply "Inter" globally */
}

a {
  color: #7c3aed; /* Purple-600 */
  text-decoration: underline;
}

a:hover {
  color: #6d28d9; /* Darker purple */
}
